.contact-callout {
    height: calc(20vh + 10em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/images/contact-callout.jpg') no-repeat center center;
    background-size: cover;
    h3 {
      margin-bottom: 1em;
      color: #fff;
      font-size: 2.5rem;
      line-height: 1.1;
      text-align: center;
    }
}
